*{
  background-color: rgba(0, 0, 0, 0.02);
}
.progress {
    position: relative;
    width: 500px;
    height: 100px;
    background: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
    /* margin: 150px 100px 100px 100px; */
  }
  
  .progress__fill {
    width: 0%;
    height: 100%;
    background: #088178;
    transition: all 0.2s;
  }
  
  .progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px "Quicksand", sans-serif;
    color: #ffffff;
  }
